*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #000;
  color: #fff;  
}

a, a:visited, a:hover{
  text-decoration: none;
  color: unset;
}

header{
  height: 220px;

  background: linear-gradient(180deg, #102347 0%, #181818 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container img{
  width: 235px;
  height: 106px;
}

.header-container h1{
  margin-top: 15px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.header-container p,
.header-container a
{
  font-size: 14px;
  font-weight: 300;
}

/* MAIN **********/
#sales{
  padding: 40px 10px;
}

.dsmeta-container{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.dsmeta-card{
  background-color: #283142;
  border-radius: 10px;
  padding: 32px 10px 30px;
}

.dsmeta-card h2{
  font-size: 24px;
  font-weight: bold;
  color: #676FFF;
  margin-bottom: 20px;
}

.form-control-container{
  margin-bottom: 16px;
  max-width: 300px;
}

.form-control{
  width: 100%;
  height: 46px;
  background-color: #1B2531;
  border: 1px solid #384459;
  border-radius: 5px;
  color: #9AAABE;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
}

/* TABLE ************/
.dsmeta-sales-table{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.dsmeta-sales-table thead{
  height: 55px;
  font-size: 16px;
  font-weight: 700;
  color: #E9E9E9;
}

.dsmeta-sales-table tbody{
  color: #CFCFCF;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.dsmeta-sales-table tbody tr{
  height: 74px;
  border-top: 1px solid #5F6E82;

}

.dsmeta-sales-table tbody tr:hover > td{
  background-color: #384459;
}

.dsmeta-sales-table tbody tr:nth-child(odd){
  background-color: #242C3B;
}

.dsmeta-btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dsmeta-red-btn{
  height: 45px;
  width: 45px;
  background: rgba(255, 107, 114, 0.1);
  border: 1px solid #FF6B72;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dsmeta-red-btn img{
  width: 19px;
}

.show-576,
.show-992{
  display: none;
}

@media (min-width: 576px){
  .dsmeta-card{
    padding: 35px;
  }

  .dsmeta-sales-table tbody tr{
    height: 55px;
  }
  
  .dsmeta-sales-table tbody{
    font-size: 18px;
  }

  .show-576{
    display: table-cell;
  }
}

@media (min-width: 992px){
  .show-992{
    display: table-cell;
  }

  .dsmeta-sales-table tbody{
    font-size: 18px;
  }
}

